.searchbox {
  height: 37px;
  width: 60px;
  font-size: 15px;
  border-color: rgb(189, 176, 176);
  border-style: solid;
  border-width: 1px;
  border-radius: 2px;
  box-shadow: inset 1px 1.5px 3px rgba(0, 0, 0, 0.05);

  display: flex;
  flex: 1;
  width: 0;
}
.searchbox::placeholder {
  font-family: roboto;
  font-size: 15px;
  padding-left: 10px;
}

.header {
  height: 57px;
  line-height: 24px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: rgb(255, 255, 255);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  border-bottom-color: rgb(224, 217, 217);
  border-bottom-width: 1px;
  border-bottom-style: solid;
  z-index: 100;
}
.header:hover{
    cursor: pointer;
}
.left-section {
  display: flex;
  align-items: center;
}
.middle-section {
  flex: 1;
  margin-left: 70px;
  margin-right: 35px;
  max-width: 500px;
  display: flex;
  align-items: center;
}

.right-section {
  width: 180px;
  display: flex;
  max-width: 500px;
  justify-content: center;
  align-items: center;
  justify-content: space-evenly;
  margin-right: 10px;
  flex-shrink: 0;
 
}

.hamburger-menu {
  height: 24px;
  margin-left: 24px;
  margin-right: 24px;
}
.youtube-logo {
  height: 20px;
}
.search-button {
  height: 41px;
  width: 66px;
  background-color: rgb(248, 247, 247);
  border-width: 1px;
  border-style: solid;
  border-color: rgb(189, 176, 176);
  margin-left: -2px;
  border-radius: 1px;
}
.search-button:hover{
  cursor: pointer;
}
.search-icon {
  height: 30px;
  margin-top: 4px;
}
.voice-search-button {
  height: 40px;
  width: 40px;
  margin-left: 10px;
  border: none;
  border-radius: 50px;
  background-color: rgb(248, 247, 247);
}
.voice-search-button:hover{
  cursor: pointer;
}
.voice-search-icon {
  padding-top: 3px;
}

.channel-picture-icon {
  height: 35px;
  width: 35px;
  border-radius: 100px;
}
.upload-icon {
  height: 25px;
}

.youtubeapp-icon {
  height: 25px;
}
.notifications-icon {
  height: 25px;
}
.notification-container {
  /* padding-top: 5px; */
  align-items: center;
  position: relative;
}
.notification-count {
  position: absolute;

  top: -8px;
  right: -7px;

  font-size: 12px;
  color: white;
  font-family: roboto;

  border-radius: 100px;
  background-color: rgb(197, 36, 36);
  padding-left: 7.5px;
  padding-right: 7.5px;
}

.youtube-logo-container{
  justify-content: center;
  position: relative;

}
.youtube-logo-PH{
  position: absolute;
  top: -11px;
  right: -21px;
  background-color: white;
  font-size: 12px;
  font-weight: bold;
  font-family: roboto, arial;
  color: rgb(161, 159, 159);

}